@page "/nav"
@using Client.ApplicationStates
@using Microsoft.AspNetCore.Components.Authorization
@inject AllState departmentState
<AuthorizeView>
    <Authorized>
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    Welcome, @(context.User.Identity?.Name ?? "Guest")
                </a>
            </div>
        </div>

        <div class="nav-scrollable">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="/home/dashboard">
                        <span class="bi bi-house-door-fill nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link p-2" href="/counter">
                        <span class="bi bi-plus-square-fill nav-menu" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <a class="nav-link p-2" @onclick="ShowAdminMenuContainer" style="cursor:pointer;">
                        <div class="hstack gap-1">
                            <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top:-2rem;"></span>
                            <span>Administration</span>
                        </div>
                    </a>
                    <div class="nav-link p-2 text-white" style="margin-left:5px; visibility:@CssStyle">
                        <div class="hstack">
                            <span class="bi bi-people fs-5 text-center" aria-hidden="true" style="margin-top:-2rem;"></span>
                            <span>Users</span>
                        </div>
                    </div>
                </div>

                <div class="nav-item px-3" style="margin-top: @DepartmentMargin">
                    <a class="nav-link p-2" @onclick="ShowDepartmentContainer" style="cursor:pointer;">
                        <div class="hstack gap-1">
                            <span class="bi bi-backpack-fill fs-3 text-center" aria-hidden="true" style="margin-top:-2rem;"></span>
                            <span>Department</span>
                        </div>
                    </a>
                    <div class="nav-link p-2 text-white" style="margin-left:5px; visibility:@DepartmentCssStyle;">
                        <ul class="list-group">
                            <li style="list-style:none" class="cursorStyle">
                                <a class="nav-link p-2" @onclick="GeneralDepartmentClicked">
                                    <div class="hstack text-wrap">
                                        <span class="bi bi-file-medical fs-5 text-center" aria-hidden="true" style="margin-top:-2rem;"></span>
                                        <span class="fs-6">General</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle">
                                <a class="nav-link p-2">
                                    <div class="hstack">
                                        <span class="bi bi-substack fs-5 text-center" aria-hidden="true" style="margin-top:-2rem;"></span>
                                        <span>Departments</span>
                                    </div>
                                </a>
                            </li>
                            <li style="list-style:none" class="cursorStyle">
                                <a class="nav-link p-2">
                                    <div class="hstack">
                                        <span class="bi bi-chevron-bar-contract fs-5 text-center" aria-hidden="true" style="margin-top:-2rem;"></span>
                                        <span>Branches</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    // Retirer la logique du menu de navigation
    public string DepartmentMargin { get; set; } = "-3.5rem";
    private string CssStyle = "hidden";
    public bool ShowHide { get; set; } = false;

    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        DepartmentMargin = ShowHide ? "0" : "-3.5rem";
        CssStyle = ShowHide ? "visible" : "hidden";
    }

    private string DepartmentCssStyle = "hidden";
    public bool ShowHideDepartment { get; set; } = false;

    private void ShowDepartmentContainer()
    {
        ShowHideDepartment = !ShowHideDepartment;
        DepartmentCssStyle = ShowHideDepartment ? "visible" : "hidden";
    }
    void GeneralDepartmentClicked()
    {
        departmentState.GeneralDepartmentClicked();

    }

}
